.menu{
    display:flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
    font-size: 20 px;
    font-family: sans-serif;
    font-weight: 400;
    color:white;
}

body{
    margin: 0px;
    background-color: whitesmoke;
    
}

.origami{
    display:flex;
    flex-wrap: wrap-reverse ;
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;

}

a:link{
    color:blue;
}

a:visited{
    color:green;
}

.origami:hover{
    transform: scale(1.2);
}



            